# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# User Data (Wishlist, etc.)
data/*
!data/.gitkeep

# Environments & OS
.env
.env.local
.DS_Store
Thumbs.db
desktop.ini

# Node
node_modules/
package-lock.json

# IDE
.vscode/
.idea/
